<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>

<body>

    <table border="1">
        <tr>
            <th>isbn</th>
            <th>full name</th>
            <th>authors</th>
        </tr>
        <tr th:each="book:${books}">
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.title}"></td>
            <td th:each="author:${book.authors}">
                <ul>
                    <li th:text="${author.title}"></li>
                </ul>
            </td>
        </tr>
    </table>

    <table border="1">
        <tr>
            <th>isbn</th>
            <th>full name</th>
            <th>borrower</th>
        </tr>
        <tr th:each="book:${books}">
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.borrower == null ? 'Free to Borrow' : book.borrower.username}"></td>
        </tr>
    </table>



    <!--<table border="1">-->
        <!--<tr>-->
            <!--<th>full name</th>-->
            <!--<th>books</th>-->
        <!--</tr>-->
        <!--<tr th:each="author:${authors}">-->
            <!--<td th:text="${author.title}"></td>-->
            <!--<td th:each="book:${author.books}">-->
                <!--<ul>-->
                    <!--<li th:text="${book.title}"></li>-->
                <!--</ul>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->

</body>
</html>