<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

    <div th:fragment="navbar"><!--nav bar-->
        <a th:href="@{/}">Home</a>
        <a th:href="@{/userInfo}">My Info</a>
        <a th:href="@{/#}">Record of Loan</a>
        <a th:href="@{/#}" sec:authorize="hasAuthority('manager')">Book Manage</a>
        <a th:href="@{/#}" sec:authorize="hasAuthority('manager')">User Manage</a>
        <!--<span sec:authentication="name"></span>-->
        <h1>Welcome, <span sec:authentication="name"></span>!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>

    <form th:action="@{/search}">
        <div>
            <div>
                <input name="keyWord" type="text"/><input type="submit" value="Search"/>
            </div>
            <div>
                <input type="radio" name="searchType" value="a" id="author" checked/><label for="author">Author</label>
                <input type="radio" name="searchType" value="t" id="title" /><label for="title">Title</label>
                <input type="radio" name="searchType" value="i" id="isbn" /><label for="isbn">ISBN</label>
            </div>
        </div>
    </form>

    <div sec:authorize="hasAuthority('manager')">
        管理
    </div>

    <div sec:authorize="hasAuthority('user')">
        用户
    </div>

</body>

<!--<script type="text/javascript">-->
    <!--function searchSelect(page, tag){-->
        <!--var i = 1;-->
        <!--var el;-->
        <!--while (el = document.getElementById(tag + i)) {-->
            <!--if (i == page)-->
                <!--el.style.display = 'block';-->
            <!--else-->
                <!--el.style.display = 'none';-->
            <!--i++;-->
        <!--}-->
    <!--}-->
<!--</script>-->

</html>